/* dark mode */
:root {
  /* background*/
  --color-bg-self: #010123;

  /* fonts*/
  --color-text-self: #f4f4f4;
  --color-title-self: #f6c613;

  /* card borders*/
  --color-primary-self: #4b38e0;

  /* buttons, bagdes, social media */
  --color-secondary-self: #5d17eb;
  --color-secondary-hover-self: #5a017a;

  /* members border */
  --color-accent-hover-self: #c4b5fd;
  --color-members-admin-self: #f6c613;

  --footer-color-self: #1c085f;
}

/* light mode */
:root[data-theme="light"] {
  /* background */
  --color-bg-self: #f4f4f4;

  /* fonts */
  --color-text-self: #333;
  --color-title-self: #5d16eb;

  /* card borders */
  --color-primary-self: #a695ff;

  /* buttons, bagdes, social media */
  --color-secondary-self: #a754fa;
  --color-secondary-hover-self: #5d16eb;

  /* members border */
  --color-accent-hover-self: #c084fc;
  --color-members-admin-self: #5d16eb;

  --footer-color-self: #210d42;
  --footer-color-text-self: #f4f4f4;
}
