:root {
  --color-bg-self: #1e1b2e;
  --color-text-self: #f4efff;

  --color-primary-self: #c084fc; /* Roxo claro vibrante */
  --color-primary-hover-self: #a855f7;
  --color-primary-focus-self: #9333ea;

  --color-secondary-self: #7c3aed; /* Roxo forte */
  --color-secondary-hover-self: #6b21a8;
  --color-secondary-focus-self: #581c87;

  --color-accent-self: #a78bfa;
  --color-accent-hover-self: #c4b5fd;

  --color-border-self: #e4d8fa;
  --color-border-hover-self: #4c3d85;

  --color-muted-self: #777;

  --gray-50-self: #f4efff;
  --gray-100-self: #e0d7f2;
  --gray-200-self: #b8aee0;
  --gray-300-self: #8c7ac0;
  --gray-400-self: #6c5a99;
  --gray-500-self: #54427a;
  --gray-600-self: #3f315b;
  --gray-700-self: #2f2545;
  --gray-800-self: #221a33;
  --gray-900-self: #161025;
}

:root[data-theme="light"] {
--color-bg-self: #f5f0fa;
  --color-text-self: #1e0a35;

  --color-primary-self: #7c3aed; /* Roxo vivo */
  --color-primary-hover-self: #6b21a8;
  --color-primary-focus-self: #581c87;

  --color-secondary-self: #a78bfa; /* Roxo suave */
  --color-secondary-hover-self: #c084fc;
  --color-secondary-focus-self: #a855f7;

  --color-accent-self: #c084fc; /* Roxo claro com um pouco de rosa */
  --color-accent-hover-self: #d8b4fe;

  --color-border-self: #e4d8fa;
  --color-border-hover-self: #cdb4f0;

  --color-muted-self: #a3a3a3;
}
