.grid_card {

    background-color: rgb(0, 1, 36);
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    image-resolution: inherit;
}
.card.img {
    width:100px ;
    height:180px ;
}