:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  color: #f0f0f0;
  line-height: 1.6;
    background-color: #000123 !important;

  background-repeat: no-repeat;
  /* não repetir a imagem */
  background-size: cover;
  /* a imagem cobre toda a área */
  background-position: center center;
  /* centraliza a imagem */
  background-attachment: fixed;
  /* fixa a imagem ao rolar a página */
  z-index: -1;
  /* deixa atrás do conteúdo */
  max-width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden !important;

}
.dropdown-menu {
  background-color: rgb(139, 82, 255) !important;
}
.dropdown-menu:hover {
  background-color: rgb(139, 82, 255) !important;
}